// ----------VARIABLER---------

// ---------Farver---------
$color-pri-black: #333333;
$color-pri-darkblue: #0F2F50;
$color-pri-orange: #E75037;
$color-pri-yellow: #EFBA1A;
$color-pri-white: #FFFFFF;
$color-pri-grey: #BFBFBF;

// ---------Font---------
$font-primary: 'Hind Siliguri', sans-serif;
