.forside-slider{
  height: 60vh;
  display: flex;
  align-items: center;

  background-image: url("http://www.kjproductions.dk/yklf/images/yklf-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .forside-slider-tekst{
    width: 90%;
    max-width: 400px;
    float: left;
    h1{
      color:$color-pri-white;
      text-shadow: #333333 2px 2px 2px;
      font-size: 1.4em;
      margin: 0;
    }
  }
}

.blaa-bar{
  padding: 20px 0 45px 0;
  background-color: $color-pri-darkblue;

  h1{
    color: $color-pri-orange !important;
    margin: 0;
  }

  .blaa-bar-indhold{
    p{
      color: $color-pri-white;
      font-size: 1.5em;
    }
  }
}

.naeste-arrangementer{
  background-color: $color-pri-lightgrey;
}

.mainForside{
  .sponsorerEksempler{
    background-color: unset;
  }
  .arrangement-section{
    padding-bottom: 35px;
  }
    .btnBig{
      margin: 0 15px 20px 18px;
    }
}
.se-alle-sponsorer-button{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 900px){
  .forside-slider{
    .maksBredde {
      display: flex;
      justify-content: flex-start;
      width: 1150px;
      .forside-slider-tekst {
        width: 50vw;
        max-width: 550px;
        h1 {
          font-size: 2em !important;
        }
      }
    }
  }


  .blaa-bar-indhold{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    p{
      width: 75%;
      margin-bottom: 0;
    }
  }

  .forside-arrangementer{
    display: flex;
    flex-direction: row-reverse;
    .billede{
      width: 50%;
      margin: 35px 0;
    }

    .forside-arrangementer-tekst{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1{
        margin: 0;
        font-size: 2.5em;
      }
    }
  }

}