//HEADER STYLING - GÆLDER BÅDE MOBIL OG PC
header {
  background-color: $color-pri-darkblue;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 10px;
  //Mobil logo vises og styles
  figure {
    margin: 10px;
  }

  .logo-mobil {
    display: block;
    z-index: 20;
    width: 150px;
    img {
      width: 150px;
      margin-left: -10px;
    }
  }
  //Web logo skjules
  .logo-web {
    display: none;
  }
  //Top nav styling
  .topnav {
    z-index: 10;
    .menuknap {
      font-size: 2.5em;
      color: $color-pri-white;
      cursor: pointer;
    }
    .topnavContentWrapper {
      display: none;
      background-color: rgba(15, 47, 80, 0.9);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      margin: auto;
      .burgermenuClose {
        position: absolute;
        top: 20px;
        right: 10px;
        font-size: 2.5em;
        color: $color-pri-white;
        cursor: pointer;
      }
      .topnavContent {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        a {
          width: auto;
          color: $color-pri-white;
          padding: 5px 10px;
          text-align: left;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 2em;
          font-weight: 600;
        }
        .menuActive {
          font-weight: 700;
        }
      }
    }
  }
  //CSS GÆLDER KUN FOR PC-HEADER (ALM. MENU)
  @media screen and(min-width: 900px){

    padding-bottom: 15px;
    //Skjuler logo på mobil
    .logo-mobil{
      display: none;
    }
    //Styler web logo
    .logo-web{
      display: block;
      a{
        img{
          display: flex;
          margin: 5px 30px;
          height: 60px;
          width: auto;
        }
      }
    }
    //Styler top nav-bar
    .topnav{
      height: auto;
      .menuknap{
        display: none;
      }
      .topnavContentWrapper {
        display: flex;
        align-items: center;
        position: inherit;
        padding-right: 15px;
        .burgermenuClose{
          display: none;
        }
        .topnavContent {
          display: block;
          position: inherit;
          float: right;
          top: auto;
          transform: none;
          .menuActive{
            font-weight: 700;
          }
          //Styler menupunkter
          a {
            font-size: 1em;
            padding: 20px !important;
            color: $color-pri-white;
          }
        }
      }

    }
  }
  @media screen and(min-width: 1200px){
    a {
      font-size: 1.2em !important;
    }
  }
}