//HEADER STYLING - GÆLDER BÅDE MOBIL OG PC
header {
  padding-bottom: 15px;
  background-color: $color-pri-darkblue;

  //Mobil logo vises og styles
  figure {
    margin: 0;
  }

  .logo-mobil {
    display: block;
    position: relative;
    z-index: 20;
    top: 12px;
    left: 10px;
    width: 150px;
    img {
      width: 150px;
    }
  }
  //Web logo skjules
  .logo-web {
    display: none;
  }
  //Top nav styling
  .topnav {
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 10;
    .menuknap {
      font-size: 2.5em;
      color: $color-pri-white;
      cursor: pointer;
    }
    .topnavContentWrapper {
      display: none;
      background-color: rgba(15, 47, 80, 0.9);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      margin: auto;
      .burgermenuClose {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 2.5em;
        color: $color-pri-white;
        cursor: pointer;
      }
      .topnavContent {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        a {
          width: auto;
          color: $color-pri-white;
          padding: 5px 10px;
          text-align: left;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 2em;
          font-weight: 600;
        }
        .menuActive {
          font-weight: 700;
        }
      }
    }
  }
  //CSS GÆLDER KUN FOR PC-HEADER (ALM. MENU)
  @media screen and(min-width: 900px){
    margin-top: -15px;
    //Skjuler logo på mobil
    .logo-mobil{
      display: none;
    }
    //Styler web logo
    .logo-web{
      display: block;
      a{
        img{
          display: flex;
          margin: 5px 30px;
          height: 60px;
          padding-top: 25px;
        }
      }
    }
    //Styler top nav-bar
    .topnav{
      .menuknap{
        display: none;
      }
      .topnavContentWrapper {
        display: block;
        height: auto;
        .burgermenuClose{
          display: none;
        }
        .topnavContent {
          flex-direction: row !important;
          float: right;
          top: 48px;
          right: 35px;
          .menuActive{
            font-weight: 700;
          }
          //Styler menupunkter
          a {
            font-size: 1em;
            padding: 20px !important;
            color: $color-pri-white;
          }
        }
      }

    }
  }
  @media screen and(min-width: 1200px){
    a {
      font-size: 1.2em !important;
    }
  }
}