.mainHvemErVi{
  .hvemErViIntro{
    display: flex;
    flex-direction: column;
    .hvemErViIntroTekst{
      width: 100%;
    }
    .hvemErViIntroVideo{
      background-color: $color-pri-darkblue;
      padding: 25px 10px;
      img {
        max-height: 250px;
        margin: auto;
      }
    }
  }
  .hvemErViOmForeningen{
    img{
      width: auto;
      max-height: 250px;
      margin: auto;
    }
  }
  .hvemErViCitat{
    background-color: $color-pri-darkblue;
    margin: 30px 0;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
      h3{
        margin-top: 0;
      }
    }
    img{
      width: 30%;
      height: 30%;
    }
  }
  .hvemErViModMedlemmerne{
    background-color: $color-pri-lightgrey;
    padding: 5px 0;
    .hvemErViMedlem{
      background-color: $color-pri-darkblue;
      padding: 20px;
      margin: 20px auto;
      h3{
        margin: 0;
      }
      p{
        margin: 0;
      }
    }
  }
  .hvemErViArrangementer{
    margin-bottom: 35px;
    .hvemErViArrangementerLinkWrapper{
      margin: 30px 0;
    }
  }
}

@media screen and(min-width: 900px){
  .mainHvemErVi {
    padding: 0;
    .hvemErViIntro {
      flex-direction: row !important;
      margin: 35px auto;
      align-items: center;
      justify-content: space-between;
      .hvemErViIntroTekst {
        width: 40% !important;
        h4 {
          font-size: 1.6em;
        }
      }
      .hvemErViIntroVideo {
        width: 40% !important;
        height: 40% !important;
        max-height: 1000px!important;
      }
    }
    .hvemErViOmForeningen {
      margin-bottom: 35px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .hvemErViOmForeningenTekst {
        width: 55%;
        p {
          font-size: 1.2em;
        }
      }
      img {
        max-height: none !important;
        width: 40% !important;
        margin: 0 !important;
      }
    }
    .hvemErViCitatWrapper {
      width: 100vw;
      background-color: $color-pri-darkblue;
      padding: 35px 0;
      .hvemErViCitat {
        width: 50%;
        margin: auto !important;
        img {
          margin-left: 10%;
          width: 25%;
          height: 25%;
        }
      }
    }
    .hvemErViModMedlemmerne {
      width: 100vw;
      padding: 35px 0 !important;
      .hvemErViMedlemFlex {
        display: flex;
        justify-content: space-between;
        .hvemErViMedlem {
          width: 25%;
          margin: 0 !important;
        }
      }

    }
    .hvemErViArrangementer {
      display: flex;
      align-items: center;
      margin: 35px auto;
      h1 {
        margin: 0;
      }
      img {
        width: 30% !important;
        height: 30%;
        margin-left: 5%;
      }
    }
  }
}

@media screen and(min-width: 1150px){
  .hvemErViIntroVideo{
    margin: 35px 0 35px 5%!important;
  }
  .hvemErViArrangementer{
    img{
      margin: 35px 0 35px 5%!important;
    }
  }
}