.opret-arrangement{
  background-color: $color-pri-darkblue;
  padding: 25px;
  margin: 35px 10px;

  h1{
    margin: 0;
    color: $color-pri-orange;
  }
  form{
    color: $color-pri-white;
    input[type=text], textarea{
      width: 100%;
      height: 2em;
      padding: 5px;
      border-radius: 5px;
      border: none;
      margin: 5px auto;
      font-family: $font-primary;
    }
    textarea{
      height: 10em!important;
      resize: none;
    }
  }
}

.arrangement-dato{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-wrapper-arrangement{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and(min-width: 900px){
  .opret-arrangement{
    form{
      .opret-arrangement-tidspunkt-wrapper{
        display: flex;
        input{
          margin-right: 5px;
        }
      }
    }
  }
}